<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite">
    <test verbose="1" name="SeleniumTestProject">
        <classes>
            <class name="tests.BrokenLinksTests">
                <methods>
                    <exclude name="checkBrokenLinksOnMainPage"/>
                </methods>
            </class>
            <class name="tests.PricingCalculatorTests"/>
            <class name="tests.SanityTests"/>
        </classes>
    </test>
</suite>
